nav.nav
    li.nav-item
        a.nav_link.link(href="#") Главная
    li.nav-item
        a.nav_link.link(href="#") О нас
    li.nav-item
        a.nav_link.link(href="#") Дизайн
    li.nav-item
        a.nav_link.link(href="#") Поиск
