nav.navigator
    div.navigator-column.navigator-column--left
        li.navigator-item
            a.navigator_link.link(href="") Адрес
        li.navigator-item
            a.navigator_link.link(href="") Оплата
        li.navigator-item
            a.navigator_link.link(href="") Доставка
    div.navigator-column.navigator-column--right
        li.navigator-item
            a.navigator_link.link(href="") Оборудование
        li.navigator-item
            a.navigator_link.link(href="") Партнёры
        li.navigator-item
            a.navigator_link.link(href="") Акции
