section.welcome
    .welcome-container.container
        .welcome-picture__wrapper
            img.welcome-picture(src="@images/robot.png", alt="")
        .welcome-content
            h1.welcome-scope Студия печати <br>и дизайна
            h2.welcome-work
                span.welcome-work--text Создаём эксклюзивные
                br
                span.welcome-work--name Визитки
            p.welcome_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quisquam harum delectus sint, obcaecati expedita pariatur minima enim, aut aliquam porro, quaerat laborum sequi officia rem dolorem error dolor alias consequuntur molestias magni quidem illo placeat! Asperiores inventore at sint?
            p.welcome_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vel beatae maxime quod aut, sequi provident incidunt fugiat dolore exercitationem, magnam obcaecati doloribus magni! Asperiores quos voluptatum, blanditiis autem beatae ut aperiam voluptas provident dicta quis laudantium? Consectetur hic facilis rem sapiente quae necessitatibus provident dolores, deserunt laborum. Libero dolorum rerum impedit, quasi odio eius?
            p.welcome_text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur excepturi cum mollitia dignissimos ducimus quae nisi quidem possimus doloribus atque!
            p.welcome_text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit earum expedita odio vel? Nihil eveniet debitis harum. Qui harum eius distinctio magni ipsa officia error est mollitia adipisci quam, illo sit dolorem aliquid maxime temporibus dolore vitae nam ea! Eaque debitis obcaecati repudiandae sunt adipisci saepe consectetur harum. Aliquam vitae accusamus maxime ab earum doloribus corrupti sit velit facere rerum, ratione repudiandae, tempore assumenda hic reiciendis voluptates nostrum sequi delectus.
