.container {
    position: relative;
    z-index: 1000;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.link {
    position: relative;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: transparent;
    font-size: 20px;
    line-height: 20px;
    color: white;
    text-decoration: none;
    overflow: hidden;
    transition: $animation;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        transition: $animation;
        z-index: -1;
    }
    &:before {
        background-color: #ff3584;
    }
    &:after {
        background-color: $DARK;
    }
    &:hover {
        text-decoration: underline;
        &:after {
            transform: translateX(100%);
        }
    }
}
.main {
    &-container {
        height: 200vh;
    }
}
