.navigator {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1020;
    &-column {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        transform: rotate(-90deg);
        width: 60vh; height: fit-content;
        gap: 100vw * .02;
        &--left {
            transform-origin:left;
            transform: rotate(-90deg) translateX(-50%) translateY(50%);
        }
        &--right {
            transform-origin:right;
            transform: rotate(-90deg) translateX(50%) translateY(-50%);
        }
    }
    &-item {
        flex: 1;
    }
    &_link {
        display: block;
        transform-origin:left;
        width: 100%; height: fit-content;
        &:after {
            background-color: $GRAY_300;
        }
        &:hover {
            &:after {
                transform: translateY(100%);
            }
        }
    }
}
